/* SlideCard.css */

  
  .slide-card-content {
  background-size: cover;
    background-position: center;
height: 20vw;
    display: flex;
    align-items: center;
    text-align: center;

  }
  
  .slide-card-title {
    font-size: 3em;
  
  }
  
  .slide-card-desc {
    font-size: 1.2em;
    margin-bottom: 2rem;
  }
  
  .slide-card-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .slide-card-button:hover {
    background-color: white;
    color: black;
  }
  